.teste{
    margin-top: 0%;
    margin-left: 0%;
    margin-bottom: 0%;
    margin-right: 50%;
}

.home {
    background-image: url("E:\UTFPR\2021_2\Web\Projeto\Projeto\assets\img\twitterBG.png");
    background-repeat: no-repeat;
    background-size: 50% 100%;
    float:left;
}